<div>
    <h2>
        <span jhiTranslate="stewardApp.opinion.home.title">Opinions</span>
        <button class="btn btn-primary float-right create-opinion" [routerLink]="['/', { outlets: { popup: ['opinion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="stewardApp.opinion.home.createLabel">
            Create new Opinion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="opinions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="stewardApp.opinion.mechanic">Mechanic</span></th>
            <th><span jhiTranslate="stewardApp.opinion.buyer">Buyer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let opinion of opinions ;trackBy: trackId">
                <td><a [routerLink]="['../opinion', opinion.id ]">{{opinion.id}}</a></td>
                <td>
                    <div *ngIf="opinion.mechanic">
                        <a [routerLink]="['../mechanic', opinion.mechanic?.id ]" >{{opinion.mechanic?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="opinion.buyer">
                        <a [routerLink]="['../buyer', opinion.buyer?.id ]" >{{opinion.buyer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../opinion', opinion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'opinion/'+ opinion.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'opinion/'+ opinion.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
